.section-benefits {
    background-color: $dark-gray;
    padding: 70px 0 72px 0;
}

.advantages__block {
    background-color: $white;
    border-radius: 16px;
    padding: 30px 50px;
    margin-bottom: 20px;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
}

.benefits__card {
    background-color: $white;
    border-radius: 14px;
    max-width: 431px;
    text-align: center;
    padding: 30px;
}
.benefits__card-pic {
    margin-bottom: 12px;
}

.benefits__card-title {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 24px;
    color: $dark-blue;
    margin-bottom: 12px;
    max-width: 371px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.benefits__card-desc {
    font-size: 18px;
    line-height: 1.5;
    color: $darker;
}