.section-aboutUs {
    padding: 50px 0;
}

.beginning__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.arrow__more {
    background-color: $dark-blue;
    border-radius: 50%;
    padding: 8px;
    margin-right: 18px;
}

.btn__more {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: $darker;
}

.wrapper__aboutUs {
    display: flex;
    justify-content: space-between;
}

.image__us {
    border-radius: 14px;
}

.block__dickens {
    background-color: $dark-blue;
    border-radius: 14px;
    padding: 37px 28px 22px;
    margin-bottom: 31px;
    max-width: 641px;
}

.title__about {
    color: $white;
    font-family: $font-secondary;
    max-width: 599px;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.txt__aboutUs {
    font-size: 18px;
    color: $white;
    max-width: 594px;
    line-height: 1.5;
}

.starts__cards {
    display: flex;
    justify-content: space-between;
}

.stat-card {
    background-color: $dark-blue;
    border-radius: 14px;
    width: 311px;
    text-align: center;
    padding:  40px 0 60px 0;
}

.stat-card:last-child {
    margin-left: 24px;
}

.stats-card__number {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 42px;
    color: $white;
}

.stats-card__description {
    font-size: 18px;
    color: $white;
    max-width: 166px;
    line-height: 27px;
    margin: 0 auto;
}
