//font

$font-main: "Roboto", serif;
$font-secondary: "Poppins", sans-serif;

//color

$white: #fff;
$dark-blue: #003366;
$darker: #343434;
$dark-gray: #E0E7EF;
$light-gray: #EFF3F7;
$darked-gray: #6B6B6B;
$lighting-gray: #BFCCD8;
$PaleBlueGray: #C2D1E0;